@model geo5.Models.place

<div id="street-view">
    <div id="floating-panel" style="width:380px; height:110px">
        <div style="margin-top:-10px; height:320px; width:430px" id="map"></div>
        <button id="guessButton" style="margin-top:5px; margin-left:-270px" class="btn btn-light"> Submit </button>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">        
        var latToSend
        var lngToSend
        var tempLat
        var tempLng

        function initialize() {
            var location = { lat: 42.995640, lng: -71.454788 };

            function LoadMaps() {
                //top left map with marker and event listener for marker
                var map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 1,
                    center: location,
                    streetViewControl: false,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                var marker = new google.maps.Marker({
                    map: map,
                    draggable: true,
                    animation: google.maps.Animation.DROP,
                    position: location
                });

                google.maps.event.addListener(marker, 'dragend', function (event) {
                    latToSend = marker.getPosition().lat();
                    lngToSend = marker.getPosition().lng();
                });

                //random panorama
                var panorama = new google.maps.StreetViewPanorama(document.getElementById("street-view"), {// accepted
                    position: { lat: tempLat, lng: tempLng},
                    pov: { heading: 165, pitch: 0 },
                    zoom: 1,
                    showRoadLabels: false
                });
            }
            
            //https://stackoverflow.com/questions/44476036/generate-random-google-maps-street-view-coordinates-in-javascript
            //generating locatation using street view service
            function TryRandomLocation(callback) {
                tempLat = (Math.random() * (49.351 - 24.751 + 1.51) + 24.751); //bounds of the united states
                tempLng = (Math.random() * (124.751 - 66.901 + 1.51) + 66.901) * (-1);
                
                var svs = new google.maps.StreetViewService();
                svs.getPanorama({
                    location: new google.maps.LatLng(tempLat, tempLng),
                    radius: 50
                }, callback);
            }

            function HandleCallback(data, status) {
                if (status == 'OK') {
                    LoadMaps()              
                } else {   
                    console.log("cb")
                    TryRandomLocation(HandleCallback); // callback
                }
            }
            TryRandomLocation(HandleCallback);
        }

        //post button
        $(function () {
            $("#guessButton").click(function () {
                location.href = '@Url.Action("PostSubmissionUS", "Home")?slat='+latToSend+'&slng='+lngToSend+'&clat='+tempLat+'&clng='+tempLng;
            });
        });

        

    </script>
}